* {
	font-family: Crimson Text;
	font-size: 18px;
}

h1 {
	font-family: Italianno;
	font-size: 50px;
	margin-left: -15px;
	color: $grape;
}

h2 {
	font-family: Italianno;
	font-size: 40px;
	color: $grape;
}

a {
	text-decoration: none;
}

.logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.img_footer {
	padding-right: 0;
	padding-left: 0;
}

.choice {
	margin-left: 60px;
	margin-right: 50px;
	padding-bottom: 20px;
	text-align: center;
}

.icon_search_box {
	margin-left: 20px;
	margin-top: -10px;
}

.yellow_line {
	border-bottom: 3px solid $yellow;
	margin-top: 30px;
	margin-bottom: 30px;
}

.option_type,
.option_price,
.option_country,
.option_pairings {
	margin-top: 20px;
}

.bottle_img {
	border: 1px solid $black;
	margin-top: 30px;
	height: 100px;
}

select {
	// font-family: Italianno;
	font-size: 20px;
	text-align: center;
	color: $grape;
	background: transparent;
}

.search_bar {
	background: transparent;
	border-radius: 15px;
	padding: 10px;
}

// .search_bar:hover {
// 	decoration: none;
// }

.search_bar_button {
	margin-top: 20px;
	margin-left: -95px;
}

.display_search {
	padding-bottom: 15px;
}

.display_price,
.display_score {
	float: right;
	margin-right: 30px;
	margin-top: -50px;
	color: $yellow;
	font-size: 30px;
}

.content_search,
.content_reviews,
.content_nearby,
.content_cellar {
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.map {
	margin-top: 45px;
}

.footer {
	position: fixed;
	margin-top: -150px;
}