* {
	font-family: Crimson Text;
	font-size: 18px;
}

h1 {
	font-family: Italianno;
	font-size: 50px;
	margin-left: -15px;
	color: $grape;
}

h2 {
	font-family: Italianno;
	font-size: 40px;
	color: $grape;
}

a {
	text-decoration: none;
}

.logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.img_footer {
	padding-right: 0;
	padding-left: 0;
}

.choice {
	margin-left: 60px;
	margin-right: 50px;
	padding-bottom: 20px;
	text-align: center;
}

.icon_search_box {
	margin-left: 20px;
	margin-top: -10px;
}

.yellow_line {
	border-bottom: 3px solid $yellow;
	margin-top: 30px;
	margin-bottom: 30px;
}

.option_type,
.option_price,
.option_country,
.option_pairings {
	margin-top: 20px;
}